/* General */
body {
    background-color: #dfe1f5;
    color: #3d2c08;
}

h1 {
    font-family: 'Monoton', cursive;
    font-weight: bold;
    font-size: 8rem;
}

/* Grid */
#grid-setting .row {
    margin-right: -45px;
}

/* Labels */
label {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 50px;
}

/* App customised buttons */
.btn {
    height: 40px;
}

.btn-pam {
    color: white;
    background-color: #3d2c08;
    border-color: #3d2c08;
}

.btn-pam-reverse {
    color: #3d2c08;
    background: #f8f9fa;
    border-color: #3d2c08;
    font-weight: bold;
}

/* Color picker */
.color {
    width: 100px;
    height: 40px;
    border: 2px solid #141313;
}

.colorPicker {
    font-weight: bold;
}

/* Grid canvas */
#canvas h3 {
    font-family: 'Fruktur', cursive;
    font-weight: bold;
    font-size: 48px;
}

.table-bordered {
    box-shadow: 2px 4px 10px rgb(105, 103, 103);
}

.table-bordered tr, .table-bordered td {
    border: 1px solid #3d2c08;
}

tr {
    height: 40px;
    background-color: white;
}

td {
    width: 40px;
    height: 40px;
}